{%  extends "base.html" %}

{% block title %}Your Exercises{% endblock %}

{% block content %}
    <h2>Your Exercises</h2>
    {% if session.exercises %}
        <div class="row">
            {% for exercise in session.exercises %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <form action="{{ url_for("delete") }}" method="POST">
                                <input type="hidden" name="index" value="{{ loop.index0 }}">
                                <button type="submit" class="btn btn-danger mt-3">Delete</button>
                            </form>
                            <h4 class="card-title">{{ exercise.name }}</h4>
                            {% if exercise.image %}
                            <img src="{{ url_for("static", filename="uploads/" ~ exercise.image) }}" alt="Exercise Image" class="img-fluid mb-3">
                            {% endif %}
                            <p class="card-text"><strong>Muscle Group:</strong> {{ exercise.muscle }}</p>
                            <p class="card-text"><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                            <p class="card-text"><strong>Instructions:</strong> {{ exercise.instructions }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No exercises added yet. Go to the add page!</p>
    {% endif %}
{% endblock %}